#question-section {
  margin-bottom: 15px;
}

#quiz_info_container {
  display: flex;
  justify-content: space-around;
  margin-left: 35%;
  padding: 5px;
  font-weight: bold;
  padding: 10px;
}

#saved_questions {
  margin: 0;
  font-size: 1.2em;
}

#question_header {
  margin: 0;
  font-size: 1.4em;
}

#questionField {
  width: 60%;
}