.App {
  color: #ffc700;
  border: 4px solid #ffc700;
  border-radius: 30px;
  text-align: center;
  padding-bottom: 15px;
  margin: 5% 30% 0% 30%;
}

input[type=text] {
  width: 100%;
  border: 3px solid #ffc700;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  background-color: #008fff;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input[type=text]:focus {
  border-color: #ffc700;
  box-shadow: 0 0 12px 0 #ffc700;
  background-color: #00b7ff;
}

/* probably style buttons here to apply styling to AnswerControls and QuestionControls */